
    <!DOCTYPE html/>
    <html lang="en">
    <!-- this is a comment-->
    <head>
        <title>
            {{ title }}
        </title>

        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

    </head>
    <body>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/31/Python-logo.png/547px-Python-logo.png"
            alt="Python Logo"
            width="200" height="120" 
            />
        <h1>
            <em>
                {{ page_name }}
            </em>
            Python Page
        </h1>
        <p>
            Did you know? 
            <em>
                <strong>
                    Python Eats the World Page!
                </strong>
            </em>
        </p>
        <br>
        <p class="red-text">
            Python supports:
        </p>
        <ul>
            <li>
                Readable
            </li>
             <li>
                Not Complicated
            </li>          
        </ul>
        <p>
            Get Started with Python:
        </p>
        <ol>
            <li>
                Download Python
            </li>
            <li>
                Install Python
            </li>
        </ol>
        <br>
        <p>
            New Users
            <ul>
                {% for name in names %}
                    {% if name == "Betty": %}
                        <li>
                            {{ name }} is and Admin
                        </li>
                    {% else %}
                        <li>
                            {{ name }}
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </p>
        <form action="" method="get" class="example">
            <label class="red-text">
                Enter your name:
            </label>
                <input type="text" name=name" id="name"
                required 
            />
            <input type="Submit" value="Submit"
            </>
        </form>
        <table>
            <tr>
               Today is Thursday 
            </tr>
            <tr>
                The Time is 6P
            </tr>
        </table>
    </body>